        <div>
            SiteWeather - Beta
        </div>

        <date-selector dates="mainController.dates"></date-selector>

        <div ng-repeat="(key, values) in mainController.datas">
            <div class="site" ng-repeat="siteValues in values.datas">
                <div class="infos"  ng-click="mainController.toggleSiteDetails()">
                    <span class="label">{{siteValues.site.label}}</span>
                </div>
                <div class="infosDetails" ng-show="mainController.showSiteDetails">
                    <div class="section level">
                        <span><img src="/assets/images/paragliding.svg" class="level-blue"/></span>
                    </div>
                    <div class="section">
                        <span><i class="ion-android-compass icon"></i>WNW-W, NW</span>
                    </div>
                    <div class="section">
                        <span><i class="ion-flag icon"></i>17-25</span>
                    </div>
                    <div class="section">
                        <i class="ion-android-pin icon"></i>
                        <a href="{{siteValues.site.beacon.url}}" target="_blank">{{siteValues.site.beacon.label}}</a>
                    </div>
                    <div class="section take-off" ng-repeat="takeoff in siteValues.site.takeoffs">
                        <span><i class="fa fa-plane"></i>{{takeoff.label}}</span>
                        <span><i class="ion-android-compass icon"></i>{{takeoff.directions.min}}-{{takeoff.directions.max}}</span>
                        <span><i class="ion-android-locate icon"></i>{{takeoff.coordinates.latitude}} {{takeoff.coordinates.longitude}}<a href="https://www.google.fr/maps/dir/''/50°25'00''N%2002°30'46''E" target="_blank"><i class="fa fa-location-arrow"></i></a></span>
                    </div>
                    <div class="section landing" ng-repeat="landing in siteValues.site.landings">
                        <span><i class="fa fa-plane fa-rotate-90"></i>{{landing.label}}</span>
                        <span><i class="ion-android-compass icon"></i>{{landing.directions.min}}-{{landing.directions.max}}</span>
                        <span><i class="ion-android-locate icon"></i>{{landing.coordinates.latitude}} {{landing.coordinates.longitude}}<a href="https://www.google.fr/maps/dir/''/50°25'00''N%2002°30'46''E" target="_blank"><i class="fa fa-location-arrow"></i></a></span>
                    </div>
                    <div class="section">
                        <span><i class="fa fa-exclamation-triangle"></i></span>
                        <span>
                            <ul ng-repeat="warning in siteValues.site.warnings">
                                <li>{{warning}}</li>
                            </ul>
                        </span>
                    </div>
                    <div class="section">
                        <span><i class="fa fa-info-circle"></i></span>
                        <span>
                            <ul ng-repeat="info in siteValues.site.infos">
                                <li>{{warning}}</li>
                            </ul>
                        </span>
                    </div>
                    <div class="section">
                        <span>
                            <i class="fa fa-video-camera"></i>
                            <a href="{{takeoff.camera}" target="_blank"  ng-repeat="takeoff in siteValues.site.takeoffs">{{takeoff.label}}</a>
                            <a href="{{landing.camera}" target="_blank"  ng-repeat="landing in siteValues.site.landings">{{takeoff.label}}</a>
                        </span>
                    </div>
                    <div class="section">
                        <span>
                            <i class="fa fa-picture-o"></i>
                            <a href="{{takeoff.picture}" target="_blank"  ng-repeat="takeoff in siteValues.site.takeoffs">{{takeoff.label}}</a>
                            <a href="{{landing.picture}" target="_blank"  ng-repeat="landing in siteValues.site.landings">{{takeoff.label}}</a>
                        </span>
                    </div>
                    <div class="section">
                        <i class="fa fa-external-link"></i>
                        <a href="{{link.url}}" target="_blank" ng-repeat="link in siteValues.site.links">{{link.label}}</a>
                    </div>
                </div>
                <div class="weather" ng-click="mainController.toggleWeatherDetails()">
                    <div class="time level1"><div>11h</div></div>
                    <div class="time level2"><div>14h</div></div>
                    <div class="time level1"><div>17h</div></div>
                    <div class="time level3"><div>20h</div></div>
                </div>
                <div class="weatherDetails" ng-show="mainController.showWeatherDetails">
                    <!-- Marée haute => icone vagues / baigneur
                        Marée basse => icone parasol -->
                    <div class="column">
                        <div class="row header">
                            <div class="cell"><i class="ion-clock icon"></i></div>
                            <div class="cell"><i class="ion-android-compass icon"></i></div>
                            <div class="cell"><i class="ion-flag icon"></i>km/h</div>
                            <div class="cell"><i class="ion-speedometer icon"></i>km/h</div>
                            <div class="cell"><i class="ion-android-cloud icon"></i></div>
                            <div class="cell"><i class="ion-thermometer icon"></i>°C</div>
                            <div class="cell"><i class="ion-waterdrop icon"></i>mm</div>
                        </div>
                        <div class="row">
                            <div class="cell"><span>11h</span></div>
                            <div class="cell"><i class="wi wi-wind-default _90-deg"></i></div>
                            <div class="cell"><span>10</span></div>
                            <div class="cell"><span>15</span></div>
                            <div class="cell"><i class="wi wi-day-cloudy"></i></div>
                            <div class="cell"><span>15</span></div>
                            <div class="cell"><span>--</span></div>
                        </div>
                        <div class="row">
                            <div class="cell"><span>14h</span></div>
                            <div class="cell"><i class="wi wi-wind-default _225-deg"></i></div>
                            <div class="cell"><span>15</span></div>
                            <div class="cell"><span>15</span></div>
                            <div class="cell"><i class="wi wi-day-cloudy"></i></div>
                            <div class="cell"><span>17</span></div>
                            <div class="cell"><span>--</span></div>
                        </div>
                        <div class="row">
                            <div class="cell"><span>17h</span></div>
                            <div class="cell"><i class="wi wi-wind-default _180-deg"></i></div>
                            <div class="cell"><span>15</span></div>
                            <div class="cell"><span>15</span></div>
                            <div class="cell"><i class="wi wi-day-sunny"></i></div>
                            <div class="cell"><span>21</span></div>
                            <div class="cell"><span>--</span></div>
                        </div>
                        <div class="row">
                            <div class="cell"><span>20h</span></div>
                            <div class="cell"><i class="wi wi-wind-default _175-deg"></i></div>
                            <div class="cell"><span>10</span></div>
                            <div class="cell"><span>15</span></div>
                            <div class="cell"><i class="wi wi-day-rain"></i></div>
                            <div class="cell"><span>19</span></div>
                            <div class="cell"><span>--</span></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
