<div class="site-card">
    <div class="infos" ng-click="siteCard.toggleSiteDetails()">
        <span class="label">{{siteCard.siteDatas.label}}</span>
    </div>
    <div class="infos-details" ng-show="siteCard.showSiteDetails">
        <div class="section level">
            <span><img src="/assets/images/paragliding.svg" class="level-blue"/></span>
        </div>
        <div class="section">
            <span><i class="ion-android-compass icon"></i>WNW-W, NW</span>
        </div>
        <div class="section">
            <span><i class="ion-flag icon"></i>17-25</span>
        </div>
        <div class="section">
            <i class="ion-android-pin icon"></i>
            <a href="{{siteCard.siteDatas.beacon.url}}" target="_blank">{{siteCard.siteDatas.beacon.label}}</a>
        </div>
        <div class="section take-off" ng-repeat="takeoff in siteCard.siteDatas.takeoffs">
            <span><i class="fa fa-plane"></i>{{takeoff.label}}</span>
            <span><i class="ion-android-compass icon"></i>{{takeoff.directions.min}}-{{takeoff.directions.max}}</span>
            <span><i class="ion-android-locate icon"></i>{{takeoff.coordinates.latitude}} {{takeoff.coordinates.longitude}}<a
                href="https://www.google.fr/maps/dir/''/50°25'00''N%2002°30'46''E" target="_blank"><i
                class="fa fa-location-arrow"></i></a></span>
        </div>
        <div class="section landing" ng-repeat="landing in siteCard.siteDatas.landings">
            <span><i class="fa fa-plane fa-rotate-90"></i>{{landing.label}}</span>
            <span><i class="ion-android-compass icon"></i>{{landing.directions.min}}-{{landing.directions.max}}</span>
            <span><i class="ion-android-locate icon"></i>{{landing.coordinates.latitude}} {{landing.coordinates.longitude}}<a
                href="https://www.google.fr/maps/dir/''/50°25'00''N%2002°30'46''E" target="_blank"><i
                class="fa fa-location-arrow"></i></a></span>
        </div>
        <div class="section">
            <span><i class="fa fa-exclamation-triangle"></i></span>
                        <span>
                            <ul ng-repeat="warning in siteCard.siteDatas.warnings">
                                <li>{{warning}}</li>
                            </ul>
                        </span>
        </div>
        <div class="section">
            <span><i class="fa fa-info-circle"></i></span>
                        <span>
                            <ul ng-repeat="info in siteCard.siteDatas.infos">
                                <li>{{warning}}</li>
                            </ul>
                        </span>
        </div>
        <div class="section">
                        <span>
                            <i class="fa fa-video-camera"></i>
                            <a href="{{takeoff.camera}" target="_blank"
                               ng-repeat="takeoff in siteCard.siteDatas.takeoffs">{{takeoff.label}}</a>
                            <a href="{{landing.camera}" target="_blank"
                               ng-repeat="landing in siteCard.siteDatas.landings">{{takeoff.label}}</a>
                        </span>
        </div>
        <div class="section">
                        <span>
                            <i class="fa fa-picture-o"></i>
                            <a href="{{takeoff.picture}" target="_blank"
                               ng-repeat="takeoff in siteCard.siteDatas.takeoffs">{{takeoff.label}}</a>
                            <a href="{{landing.picture}" target="_blank"
                               ng-repeat="landing in siteCard.siteDatas.landings">{{takeoff.label}}</a>
                        </span>
        </div>
        <div class="section">
            <i class="fa fa-external-link"></i>
            <a href="{{link.url}}" target="_blank" ng-repeat="link in siteCard.siteDatas.links">{{link.label}}</a>
        </div>
    </div>
    <div class="weather" ng-click="siteCard.toggleWeatherDetails()">
        <div class="time level2" data-ng-repeat="datas in siteCard.weatherDatas.weather.threeHoursForecast">
            <div>{{::datas.hour}}h</div>
        </div>
    </div>
    <div class="weather-details" ng-show="siteCard.showWeatherDetails">
        <!-- Marée haute => icone vagues / baigneur
            Marée basse => icone parasol -->
        <div class="column">
            <div class="row header">
                <div class="cell"><i class="ion-clock icon"></i></div>
                <div class="cell"><i class="ion-android-compass icon"></i></div>
                <div class="cell"><i class="ion-flag icon"></i>km/h</div>
                <div class="cell"><i class="ion-speedometer icon"></i>km/h</div>
                <div class="cell"><i class="ion-android-cloud icon"></i></div>
                <div class="cell"><i class="wi wi-thermometer-exterior"></i><i class="wi wi-celsius icon"></i></div>
                <div class="cell"><i class="ion-waterdrop icon"></i>mm</div>
            </div>
            <div class="row" data-ng-repeat="datas in siteCard.weatherDatas.weather.threeHoursForecast">
                <div class="cell"><span>{{::datas.hour}}h</span></div>
                <div class="cell"><i class="wi wi-wind {{::'wi-towards-'+datas.windDirection | lowercase}}"></i>{{::datas.windDirection}}
                </div>
                <div class="cell"><span>{{::datas.windSpeed}}</span></div>
                <div class="cell"><span>{{::datas.windGust}}</span></div>
                <div class="cell"><i class="wi wi-day-cloudy"></i>{{::datas.weatherLabel}}</div>
                <div class="cell"><span>{{::datas.temperature}}</span></div>
                <div class="cell"><span>{{::datas.precips}}</span></div>
            </div>
        </div>

    </div>
</div>
