.site-card {
    border: solid 1px rgb(191, 195, 198);
    box-shadow: 5px 5px 5px 0px #656565;
    border-radius: 5px;
    margin-bottom: 1rem;

    a {
        text-decoration: none;
        padding-left: 1px;
        padding-right: 1px;
        padding-bottom: 1px;
    }

    .icon{
        font-size: 1.3em;
    }

    .weather, .weather-details {
        padding: 1rem;
    }

    .infos-details, .weather-details {
        transition: top .3s ease-in-out;
        border-top: solid 1px rgb(191, 195, 198);
    }

    .infos-details a {
        margin: 0 .2rem;
    }

    .infos {
        display: flex;
        flex-direction: column;
        background-color: rgb(242, 241, 238);

        padding: 0.5rem;
        color: #0077bb;

        .site-label {
            margin: auto;
            font-size: 1.5rem;
        }

        .last-update-time {
            align-self: flex-end;
        }

    }

    .infos-details {
        display: flex;
        flex-direction: column;
        .section {
            padding: 0.3rem 0.5rem;

            &.level {
                img {
                    width: 20px;
                }

                .level-blue {
                    color: blue;
                }
            }


        }

        div:nth-child(even) {
            background: #EEE
        }

        .landing, .take-off {
            display: flex;
            flex-direction: column;
        }
    }

    .weather {
        border-top: solid 1px rgb(191, 195, 198);
        display: flex;
        justify-content: space-around;
        background-color: rgb(242, 241, 238);
        .time {
            display: flex;
            border-radius: 2em;
            height: 2em;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            margin: 0 .1em;

            div {
                margin: auto;
            }
        }

        .level0 {
            background-color: red;
        }

        .level1 {
            background-color: orange;
        }

        .level2 {
            background-color: green;
            &.gusty{
                background-color: purple;
            }
        }
    }

    .weather-details {
        .column {
            display: flex;
            flex-direction: column;
            border-bottom: solid 1px rgb(191, 195, 198);
            border-radius: 5px;
            .row {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 2px;
                .cell {
                    flex: 1;
                    text-align: center;
                    margin: 0 2px;
                    border-radius: 5px;

                    &.hour {
                        &.level0 {
                            background-color: red;
                        }

                        &.level1 {
                            background-color: orange;
                        }

                        &.level2 {
                            background-color: green;

                            &.gusty{
                                background-color: purple;
                            }
                        }
                    }

                    &.wind-direction, &.wind-speed, &.wind-gust {
                        &.good {
                            background-color: green;
                        }

                        &.bad {
                            background-color: red;
                        }
                    }

                }



                &.header {
                    border-bottom: solid 1px rgb(191, 195, 198);
                }
            }

            > div:nth-child(even) {
                background: #EEE
            }
        }
    }
}
