<div class="site-card">
    <div class="infos" ng-click="siteCard.toggleSiteDetails()">
        <span class="site-label">{{::siteCard.siteDatas.label}}</span>
        <span class="last-update-time">{{::siteCard.weatherDatas.lastUpdateTime}}</span>
    </div>
    <div class="infos-details" ng-show="siteCard.showSiteDetails">
        <div class="section level">
            <span><img src="/assets/images/paragliding.svg" class="level-blue"/></span>
        </div>
        <div class="section">
            <span><i class="ion-compass icon"></i>
                <span ng-repeat="direction in siteCard.siteDatas.directions">{{direction.min +"-" + direction.max}},</span>
            </span>
        </div>
        <div class="section">
            <span><i class="ion-flag icon"></i>{{::siteCard.siteDatas.wind.min}}-{{::siteCard.siteDatas.wind.max}} km/h</span>
        </div>
        <div class="section">
            <span>
                <i class="ion-model-s icon"></i>
                Lat. {{::siteCard.siteDatas.park.coordinates.latitude}} - Lng. {{::siteCard.siteDatas.park.coordinates.longitude}}
                <a href="http://maps.google.com?saddr={{::siteCard.userGeoposition.coords.latitude}},{{::siteCard.userGeoposition.coords.longitude}}&daddr={{::siteCard.siteDatas.park.coordinates.latitude}},{{::siteCard.siteDatas.park.coordinates.longitude}}"
                   target="_blank">
                    <i class="ion ion-map"></i>
                </a>
            </span>

        </div>
        <div class="section">
            <i class="ion ion-wifi icon"></i>
            <a href="{{siteCard.siteDatas.beacon.url}}" target="_blank">{{::siteCard.siteDatas.beacon.label}}</a>
        </div>
        <div class="section take-off" ng-repeat="takeoff in siteCard.siteDatas.takeoffs">
            <span><i class="ion ion-android-upload icon"></i>{{takeoff.label}}</span>
            <span><i class="ion ion-compass icon"></i>{{::takeoff.direction.min}}-{{::takeoff.direction.max}}</span>
            <span><i class="ion ion-flag icon"></i>{{::takeoff.wind.min}}-{{::takeoff.wind.max}} km/h</span>
            <span><i class="ion ion-android-locate icon"></i>Lat. {{::takeoff.coordinates.latitude}} - Lng. {{::takeoff.coordinates.longitude}}
                <a href="http://maps.google.com?t=k&q={{::takeoff.coordinates.latitude}},{{::takeoff.coordinates.longitude}}"
                   target="_blank">
                    <i class="ion ion-map"></i>
                </a>
            </span>
        </div>
        <div class="section landing" ng-repeat="landing in siteCard.siteDatas.landings">
            <span><i class="ion ion-android-download icon"></i>{{landing.label}}</span>
            <span><i
                class="ion ion-compass icon"></i>{{::landing.direction.min}}-{{::landing.direction.max}}</span>
            <span><i class="ion ion-android-locate icon"></i>Lat. {{::landing.coordinates.latitude}} - Lng. {{::landing.coordinates.longitude}}
                <a href="http://maps.google.com?t=k&q={{::landing.coordinates.latitude}},{{::landing.coordinates.longitude}}"
                   target="_blank">
                    <i class="ion ion-map"></i>
                </a>
            </span>
        </div>
        <div class="section">
            <span><i class="ion ion-alert-circled icon"></i>Dangers</span>
                        <span>
                            <ul>
                                <li ng-repeat="warning in siteCard.siteDatas.warnings">{{warning}}</li>
                            </ul>
                        </span>
        </div>
        <div class="section">
            <span><i class="ion ion-information-circled icon"></i>Infos</span>
                        <span>
                            <ul>
                                <li ng-repeat="info in siteCard.siteDatas.infos">{{info}}</li>
                            </ul>
                        </span>
        </div>
        <div class="section">
                        <span>
                            <i class="ion ion-videocamera icon"></i>
                            <a href="{{takeoff.camera}}" target="_blank"
                               ng-repeat="takeoff in siteCard.siteDatas.takeoffs">{{takeoff.label}}</a>
                            <a href="{{landing.camera}}" target="_blank"
                               ng-repeat="landing in siteCard.siteDatas.landings">{{takeoff.label}}</a>
                        </span>
        </div>
        <div class="section">
                        <span>
                            <i class="ion ion-images icon"></i>
                            <a href="{{takeoff.picture}}" target="_blank"
                               ng-repeat="takeoff in siteCard.siteDatas.takeoffs">{{takeoff.label}}</a>
                            <a href="{{landing.picture}}" target="_blank"
                               ng-repeat="landing in siteCard.siteDatas.landings">{{takeoff.label}}</a>
                        </span>
        </div>
        <div class="section">
            <i class="ion ion-link icon"></i>
            <a href="{{link.url}}" target="_blank" ng-repeat="link in siteCard.siteDatas.links">{{link.label}}</a>
        </div>
    </div>
    <div class="weather" ng-click="siteCard.toggleWeatherDetails()">
        <div class="time" ng-class="['level'+siteCard.flyabilityDatas.threeHoursForecast[datas.hour].level,
                     siteCard.flyabilityDatas.threeHoursForecast[datas.hour].gust ? '': 'gusty']"
             data-ng-repeat="datas in siteCard.weatherDatas.threeHoursForecast">
            <div>{{::datas.hour}}h</div>
        </div>
    </div>
    <div class="weather-details" ng-show="siteCard.showWeatherDetails">
        <!-- Marée haute => icone vagues / baigneur
            Marée basse => icone parasol -->
        <div class="column">
            <div class="row header">
                <div class="cell"><i class="ion-clock icon"></i></div>
                <div class="cell"><i class="ion-android-compass icon"></i></div>
                <div class="cell"><i class="ion-flag icon"></i>km/h</div>
                <div class="cell"><i class="ion-speedometer icon"></i>km/h</div>
                <div class="cell"><i class="ion-android-cloud icon"></i></div>
                <div class="cell"><i class="wi wi-thermometer-exterior"></i><i class="wi wi-celsius icon"></i></div>
                <div class="cell"><i class="ion-waterdrop icon"></i>mm</div>
            </div>
            <div class="row" data-ng-repeat="datas in siteCard.weatherDatas.threeHoursForecast">
                <div class="cell hour"
                     ng-class="['level'+siteCard.flyabilityDatas.threeHoursForecast[datas.hour].level,
                     siteCard.flyabilityDatas.threeHoursForecast[datas.hour].gust ? '': 'gusty']">
                    <span>{{::datas.hour}}h</span></div>
                <div class="cell wind-direction"
                     ng-class="siteCard.flyabilityDatas.threeHoursForecast[datas.hour].direction ? 'good' : 'bad'">
                    <i class="wi wi-wind" ng-class="'wi-towards-'+datas.windDirection | lowercase"></i>{{::datas.windDirection}}
                </div>
                <div class="cell wind-speed"
                     ng-class="+siteCard.flyabilityDatas.threeHoursForecast[datas.hour].speed ? 'good' : 'bad'"><span>{{::datas.windSpeed}}</span>
                </div>
                <div class="cell wind-gust"
                     ng-class="siteCard.flyabilityDatas.threeHoursForecast[datas.hour].gust ? 'good' : 'bad'"><span>{{::datas.windGust}}</span>
                </div>
                <div class="cell"><i class="wi wi-day-cloudy"></i>{{::datas.weatherLabel}}</div>
                <div class="cell"><span>{{::datas.temperature}}</span></div>
                <div class="cell"><span>{{::datas.precips}}</span></div>
            </div>
        </div>

    </div>
</div>
